@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.bg-light,
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.0)!important;
}

.navbar-brand img {
    padding: 20px 25px;
}

.nav-item a {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    font-variant: small-caps;
    color: #FFFFFF!important;
    padding: 20px 25px!important;
}

.fixed-top.scrolled {
    background-color: #0b192c !important;
    transition: background-color 200ms linear!important;
    height: 90px;
}

.fixed-top.scrolled .nav-link {
    color: #fff!important;
}

.fixed-top.scrolled .navbar-brand img {
    padding: 10px 15px;
}